<div class="row">
  <div class="col m3 hide-on-small-only"></div>
  <form action="#" class="col s12 m6 account_container">
    <div class="card ttb-color-light-grey">
      <div class="card-content ttb-color-dark-grey-text">
        <div class="row">
          <div class="col s12">
            <label>
              <input id="wizard_<%= views[viewIndex].name %>_form_exist" type="checkbox" class="filled-in"/>
              <span>I already have an account</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="" id="wizard_<%= views[viewIndex].name %>_form_login" type="text" class="validate">
            <label for="wizard_<%= views[viewIndex].name %>_form_login">Login</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="" id="wizard_<%= views[viewIndex].name %>_form_psswrd" type="password" class="validate">
            <label for="wizard_<%= views[viewIndex].name %>_form_psswrd">Password</label>
          </div>
        </div>
        <div class="row account_hide_on_already_exist is-visible">
          <div class="input-field col s12">
            <input placeholder="" id="wizard_<%= views[viewIndex].name %>_form_psswrd_confirmtn" type="password" class="validate">
            <label for="wizard_<%= views[viewIndex].name %>_form_psswrd_confirmtn">Password confirmation</label>
          </div>
        </div>
        <div class="row account_hide_on_already_exist is-visible">
          <div class="input-field col s12">
            <input placeholder="" id="wizard_<%= views[viewIndex].name %>_form_mail" type="email" class="validate">
            <label for="wizard_<%= views[viewIndex].name %>_form_mail">Email</label>
          </div>
        </div>
        <div class="row account_hide_on_already_exist is-visible">
          <div class="input-field col m6 s12">
            <input placeholder="" id="wizard_<%= views[viewIndex].name %>_form_firstname" type="text" class="validate">
            <label for="wizard_<%= views[viewIndex].name %>_form_firstname">First Name</label>
          </div>
          <div class="input-field col m6 s12">
            <input placeholder="" id="wizard_<%= views[viewIndex].name %>_form_lastname" type="text" class="validate">
            <label for="wizard_<%= views[viewIndex].name %>_form_lastname">Last Name</label>
          </div>
        </div>
      </div>
      <div id="wizard_<%= views[viewIndex].name %>_ignore_wrapper" class="displayable-60 ignore-wrapper tooltiped" data-position="top" data-tooltip="Click to do not ignore this step anymore">
      </div>
    </div>
  </form>
</div>
<div id="wizard_<%= views[viewIndex].name %>_footer" class="row">
</div>
